body {
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: #EAC07E;
	color: #553F18;
	font-family: sans-serif;
}

.example {
	margin: unset;
}

.example ul {
	margin: 0;
	padding: 10px 20px;
}